.app {
  display: flex;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.body-content {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #f9fafb;
}
